# Dependencies
node_modules/

# Build output
dist/
src-tauri/target/
src-tauri/gen/

# Tauri
src-tauri/WixTools/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local DB / logs
*.db
*.db-journal
